@font-face {
    font-family: Press;
    src: url(../fonts/press_start_2p/PressStart2P.ttf);
}

@font-face {
    font-family: ProdutoText;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}